.App {
  text-align: center;
}

.button1{
 padding: 15px;
  background-color: rgb(184, 38, 86);
  color:rgb(10, 152, 207);
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}
.button2:hover{
background-color: red;
color: black;
font-style: oblique;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border-radius: 10px;
}
button{
  margin: 10px;
  
}
.h1{
  background-color: rgb(17, 15, 15);
  color: olive;
  display: inline-block;
}
body{
  background-image: url(https://media.istockphoto.com/id/1176722220/photo/empty-green-grass-field-and-illuminated-outdoor-stadium-with-fans-front-field-view.jpg?s=612x612&w=0&k=20&c=YFh_7QVyJKuF9iBFgX4QF9c4-ojJE0_vCJjeORQExX4=);
  background-size: cover;
}
.img{
  width: 50px;
  height: 50px;
}


